<h1>Demo {{title}} Website</h1>
<p>Welcome to sample website using <a href="https://expressjs.com/" target="_blank" rel="noopener noreferrer">expressjs</a> and <a href="https://handlebarsjs.com/" target="_blank" rel="noopener noreferrer">handlebarsjs</a>.</p>
<p>Source Code: <a href="https://github.com/sevcikra/js-express-hbs">https://github.com/sevcikra/js-express-hbs</a>.</p>
<p>
    <span>FPID Cookie: <code> {{fpid}}</code></span>
</p>

